<div class="row">
    <div class="col-md-3">CHARACTER NAME</div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <form #detailsForm="ngForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" id="class">
                                <label for="class">Class</label>
                            </div>
                            <div class="form-group">
                                <input type="text" id="level">
                                <label for="level">Level</label>
                            </div>
                        </div>
                        <div class="col-md-4">2</div>
                        <div class="col-md-4">3</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">4</div>
                        <div class="col-md-4">5</div>
                        <div class="col-md-4">6</div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
